
.buttonBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.button{
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    border: 0px;
    color: white;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.button:hover{
   opacity: 0.5;
}

.back{
  color: rgb(255, 0, 242);
  background-color: transparent;
}

.next{
    background-color: rgb(255, 0, 242);
}



/*background-color: rgb(255, 0, 242); */